.outer-container {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    margin: 80px auto;
}
.inner-container {
    width: 200px;
    height: 200px;
    background-color: brown;
    color:yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    /* we use scale for shrink and expand our box in both directions horizontala nd vertical */
    /* transform: scaleX(1); */
    /* transform: scaleY(1); */
    /* transform: scaleX(1.5) scaleY(2); */
    /* transform: scale(1.5,2); */

    /* transform: skew(25deg); */

    /* transform: translate(20px,60px); */
    /* transform: translate(50%,50%); */

    /* transform: rotateX(50deg); */
    /* transform: rotate(45deg) scale(1.2) skew(30deg) translate(50%); */
    transform-origin: 40% 20%;
    transition: 0.2s ease-in-out;
}

.inner-container:hover {
    transform:rotate(45deg);
}