* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    -primary-text-color:#222;
    --secondary-text-color:#444;
    --card-background-color:#fff;
    --parent-background-color:#eee;
    --spacings-for-margin-padding:20px;
}

.dark {
    --primary-text-color:#222;
    --secondary-text-color:#444;
    --card-background-color:#807f7f;
    --parent-background-color:#b0aeae;
}

.container {
    padding:45px;
    background-color: var(--parent-background-color);
    min-height: 100vh;
}

h1 {
    text-align: center;
    background-color:  var(--card-background-color);
    color: var(--primary-text-color);
    padding: var(--spacings-for-margin-padding);
    margin: var(--spacings-for-margin-padding);

}

h2 {
    --backg-color:rgb(218, 218, 137);
    /* background-color: var(--backg-color); */
    color: var(--primary-text-color);
}

.box {
    padding: var(--spacings-for-margin-padding);
    margin-block: var(--spacings-for-margin-padding);
    /* --backg-color:rgb(220, 126, 173); */
    background-color: var(--card-background-color);
    /* background: linear-gradient(to right, #bf77d9, #c930ad);
     */
    border-radius: 5%;
}

.box p {
    color: var(--secondary-text-color);
}

h4 {
    padding:45px;
    /* background-color: var(--backg-color, pink);
     */
    color: var(--primary-text-color);
}